@model SpaceXproj.Models.SpaceX

@{
    Layout = null;
}
<html>
<head>
    <meta charset='utf-8' />
    @*<meta name='viewport' content='width=device-width, initial-scale=1.0' />*@
    <title>@ViewData["Title"] - SpaceXproj</title>
    <link rel='stylesheet' href='~/lib/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='~/css/site.css' />
    <style>
        /*html, body {
            width: 90%;
            height: 90%;
            margin: 0;
            padding: 0;
            font-family: "Times New Roman", Times, serif;
        }*/
    </style>
</head>
<body>
    <h1>Details</h1>
    <div>
        <h4>SpaceX</h4>
        <hr />
        <dl class='row'>
            <dt class='col-sm-2'>
                @Html.DisplayNameFor(model => model.Flight_number)
            </dt>
            <dd class='col-sm-10'>
                @Html.DisplayFor(model => model.Flight_number)
            </dd>
            <dt class='col-sm-2'>
                @Html.DisplayNameFor(model => model.Mission_name)
            </dt>
            <dd class='col-sm-10'>
                @Html.DisplayFor(model => model.Mission_name)
            </dd>
            <dt class='col-sm-2'>
                @Html.DisplayNameFor(model => model.Launch_site.Site_name_long)
            </dt>
            <dd class='col-sm-10'>
                @Html.DisplayFor(model => model.Launch_site.Site_name_long)
            </dd>
            <dt class='col-sm-2'>
                @Html.DisplayNameFor(model => model.Launch_date_utc)
            </dt>
            <dd class='col-sm-10'>
                @Html.DisplayFor(model => model.Launch_date_utc)
            </dd>
            <dt class='col-sm-2'>
                @Html.DisplayNameFor(model => model.Details)
            </dt>
            <dd class='col-sm-6'>
                @if (Model.Details != null)
                {
                    <div align="left">
                        @Html.DisplayFor(model => model.Details)
                    </div>
                }
                else
                {
                    <a>No information available</a>
                }
            </dd>
            <dd class='col-sm-10'>

                @if (@Model.Links.Mission_Patch_Small != null)
                {
                    <img align="right" src='@Model.Links.Mission_Patch_Small' alt='Mission patch'>
                }
                else
                {
                    <img style="width:200px" src='https://www.go2marine.com/sca/img/no_image_available.jpeg' alt='Mission patch' />
                }
            </dd>
        </dl>
    </div>
</body>
</html>