@model SpaceXproj.Models.SpaceX

@{
    Layout = null;
}
<html>
<head>
    <title>@ViewData["Title"] - SpaceXproj</title>
    <style>
        .wrapper {
            width: 595px;
            height: 842px;
            padding-right: 20px;
            padding-left: 20px;
            margin-right: auto;
            margin-left: auto;
            font-family: Arial, Helvetica, sans-serif;
        }

        .container {
            font-size: 11pt;
        }

        h1 {
            margin: 0 auto;
            width: 170px;
            padding-bottom: 58px;
            font-size: 3.2rem;
        }

        h2 {
            width: 100px;
            margin: 0 auto;
            padding: 0;
        }

        p {
            display: inline-block;
        }

        .heading {
            font-weight: bold;
            width: 200px;
        }

        #details-p {
            width: 600px;
            text-align: justify;
        }

        #details-h {
        }

        .picture {
            position: absolute;
            right: 10px;
            top: 40px;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="headings">
            <h2>SpaceX</h2>
            <h1>Details</h1>
        </div>
        <div class="container">
            <div class="picture">

                @if (@Model.Links.Mission_Patch_Small != null)
                {
                    <img align="right" src='@Model.Links.Mission_Patch_Small' alt='Mission patch'>
                }
                else
                {
                    //<img style="width:200px" src='https://imgur.com/q1x4Y3l' alt='Mission patch' />
                    <img style="width:200px"src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/No_image_3x4.svg/1280px-No_image_3x4.svg.png" />
                }
            </div>
            <div>
                <p class="heading">@Html.DisplayNameFor(model => model.Flight_number):</p>
                <p>@Html.DisplayFor(model => model.Flight_number)</p>
            </div>

            <div>
                <p class="heading">@Html.DisplayNameFor(model => model.Mission_name):</p>
                <p>@Html.DisplayFor(model => model.Mission_name)</p>
            </div>

            <div>
                <p class="heading">@Html.DisplayNameFor(model => model.Launch_date_utc):</p>
                <p>@Html.DisplayFor(model => model.Launch_date_utc)</p>
            </div>

            <div>
                <p class="heading">@Html.DisplayNameFor(model => model.Launch_site.Site_name_long):</p>
                <p>@Html.DisplayFor(model => model.Launch_site.Site_name_long)</p>
            </div>

            <div>
                <p class="heading" id="details-h"> @Html.DisplayNameFor(model => model.Details):</p>
                @if (Model.Details != null)
                {

                    <p id="details-p">@Html.DisplayFor(model => model.Details)</p>

                }
                else
                {
                    <p>No information available</p>
                }
            </div>

        </div>
    </div>

</body>
</html>